name: Pull request workflow

on:
  pull_request:
    branches:
      - main

jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      - name: récupération repo
        uses: actions/checkout@v2
      - name: récupération node
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: build
        run: npm ci
  build-docker:
    needs: build-app
    runs-on: ubuntu-latest
    steps:
      - name: recup repo
        uses: actions/checkout@v2
      - name: recup node
        uses: actions/setup-node@v2
          with:
            node-version: 16
      - name: installer QEMU docker # all the files needed to install docker, in 2 steps
        uses: docker/setup-qemu-action@v1
      - name: installer buildX docker
        uses: docker/setup-buildX-action@v1
      - name: connexion à docker
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build & push l'image docker
        uses: docker/build-push-action@v2
        with:
          context: . #here we need the dockerfile, and since we checked out the repo, it's at the root
          push: true
          tags: unimportantly/weather-test:lastest